@tailwind base;
@tailwind components;
@tailwind utilities;

.theme {
  transition: 1s all ease;
}

/* .light {
  background-color: #eaebed;
  color: #2e424d;
}

.dark {
  background-color: #292727;
  color: #f2f2f2;
} */
